@charset "UTF-8";


.tc-normal {
    color: #9c9c9c;
}

.tc-inverse {
    color:#fff;
}

.tc-highlight {
    color:#292828;
}

/**
 * 主页的一些样式
 */
.page, .page-header, section.rb-parallax, .rb-parallax-inner, .viewport-height {
	height: 100%;
}

.content, .content main, .page-footer {
    position:relative;
}

.content {
    position: relative;
    overflow: visible;
    background: #fff;
}

.vline {
    content:"";
    position:absolute;
    background: #ccbc8b;
    width:0px;
    border-left: 1px solid #ccbc8b;
    z-index:1;
}

main {
    margin-left:auto;
    margin-right:auto;
    padding:75px 10px;
    overflow:hidden;
}

.content main {
    font-size: 18px;
}

main h1, main h2, main h3 {
    color:#292828;
}

.xx-large {
    font-size:4em;
    margin:0px;
}

main img {
    width: 100%;
}

.content main * {
    text-align:left;
}

.content main .subtitle {
    font-size: 2em;
    line-height: 1;
}

.content main p {
    line-height: 1.5;
    text-indent: 2em;
}

.subtitle + p {
    margin-top:25px;
}

* + .subtitle {
    margin-top: 45px;
}

/*
* @section      Icon Fonts
* @description  This section holds all icon fonts stored in template
*/
/**
 * @section      Font Awesome 4.5.0 by  -  - @fontawesome
 * @author       @davegandy
 * @see          http://fontawesome.io
 * @license      Font: SIL OFL 1.1, CSS: MIT License 
 */
@font-face {
	font-family: 'FontAwesome';
	src: url("../fonts/fontawesome-webfont.eot");
	src: url("../fonts/fontawesome-webfont.eot") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
.fa-lg {
	font-size: 1.33333333em;
	line-height: 0.75em;
	vertical-align: -15%;
}

.fa-star-o:before {
    content: "\f006";
}

.brand {
    display: block;
    color: #fff;
    position: relative;
}

.brand-area a {
    display: inline-block;
    -webkit-animation:twinkle-brand 5s ease infinite;
       -moz-animation:twinkle-brand 5s ease infinite;
         -o-animation:twinkle-brand 5s ease infinite;
            animation:twinkle-brand 5s ease infinite;
}

.brand-area a:hover {
    color:#ccbc8b;
}

@keyframes twinkle-brand {
    0% { color:#fff; }
    50% { color:#ccbc8b; }
    100% { color:#fff; }
}

@-webkit-keyframes twinkle-brand {
    0% { color:#fff; }
    50% { color:#ccbc8b; }
    100% { color:#fff; }
}

@-moz-keyframes twinkle-brand {
    0% { color:#fff; }
    50% { color:#ccbc8b; }
    100% { color:#fff; }
}

@-o-keyframes twinkle-brand {
    0% { color:#fff; }
    50% { color:#ccbc8b; }
    100% { color:#fff; }
}

.brand .brand_logo :nth-child(1), .brand .brand_logo :nth-child(4) {
	margin-top: 30px;
}

.brand .brand_logo * {
	padding: 15px;
	vertical-align: top;
}

.brand .brand_logo span {
  display: inline-block;
  font-size: 25px;
}

.brand .brand_name {
    margin: 20px 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
}

@media (min-width: 768px) {
	.brand .brand_name {
	    font-size: 50px;
	}
}

@media (min-width: 992px) {
	.brand .brand_name {
	    font-size: 60px;
	}
}

.brand .brand_slogan {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .brand .brand_slogan {
    font-size: 24px;
  }
}

.hint-aspiration {
    display: inline-block;
    background: transparent;
    border-color: #ccbc8b;
    border-width: 1px;
    border-style: solid;
    color: #ccbc8b;
    font-weight: 400;
    padding: 10px 21px;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 1.42;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s all ease;
    margin-top: 4.878048780487805%;
}

.hint-aspiration ul, .hint-aspiration ul li {
	display: inline-block;
}

@keyframes hint-aspiration
{
	0% {transform: scale(5); opacity: 0;}
	12.5% {transform: scale(1); opacity: 1}
	100% {transform: scale(1); opacity: 1}
}

@-moz-keyframes hint-aspiration /* Firefox */
{
	0% {-moz-transform: scale(5);}
	12.5% {-moz-transform: scale(1);}
	100% {-moz-transform: scale(1);}
}

@-webkit-keyframes hint-aspiration /* Safari 和 Chrome */
{
	0% {-webkit-transform: scale(5);}
	12.5% {-webkit-transform: scale(1);}
	100% {-webkit-transform: scale(1);}
}

@-o-keyframes hint-aspiration /* Opera */
{
	0% {-o-transform: scale(5);}
	12.5% {-o-transform: scale(1);}
	100% {-o-transform: scale(1);}
}



.page-content {
	min-height: 100vh;
}

.page-content-sub, .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
	max-width: 850px;
}

/**
 *
 */
.page-content-sub {
	min-height: 400px;
	padding: 30px;
	background: #fff;
	text-align: left;
}
@media (min-width: 768px) {
  .page-content-sub, .container {
    max-width: 740px;
  }
}
@media (min-width: 992px) {
  .page-content-sub, .container {
    max-width: 850px;
  }
}
@media (min-width: 1200px) {
  .page-content-sub, .container {
    max-width: 850px;
  }
}

.well-3 {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (min-width: 992px) {
  .well-3 {
    padding-bottom: 1.77rem;
  }
}

.page-footer .com-info {
    width:100%;
    font-size: 16px;
    font-weight:100;
    line-height:1.5;
}

.com-info a:hover {
    color:#ccbc8b;
}


