@charset "UTF-8";

/**
 * 主页的一些样式
 */

/*
* @section      Extensions
* @description  This section holds some of style declarations for necessary
*               scripts
*/
/*
* @subsection   RD Navbar
*
* @description  Describes style declarations for RD Navbar extension
*
* @author       Evgeniy Gusarov
* @link         https://ua.linkedin.com/pub/evgeniy-gusarov/8a/a40/54a
* @version      2.0.0
*/
@-webkit-keyframes rb-navbar-slide-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes rb-navbar-slide-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes rb-navbar-slide-up {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@keyframes rb-navbar-slide-up {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
/*
* @subsection General Styles
*/
.rb-navbar-wrap, .rb-navbar, .rb-navbar-brand, .rb-navbar-slogan,
.rb-navbar-dropdown, .rb-navbar-megamenu, .rb-navbar-collapse-items,
.brand-name, .rb-navbar-nav, .rb-navbar-panel, .rb-navbar-search-form-input,
.rb-navbar-search-form-submit, .rb-navbar-search-toggle,
.rb-navbar-live-search-results, .rb-navbar-search-form {
  transition: .3s all ease;
}

.rb-navbar-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 75px;
}

.rb-navbar {
  display: none;
  background: transparent;
}

.rb-navbar-toggle {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  line-height: 48px;
  cursor: pointer;
  color: #fff;
  display: none;
  float: left;
}
.rb-navbar-toggle span {
  position: relative;
  display: block;
  margin: auto;
  transition: .3s all ease;
}
.rb-navbar-toggle span:after, .rb-navbar-toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  transition: .3s all ease;
}
.rb-navbar-toggle span:after {
  top: 8px;
}
.rb-navbar-toggle span:after, .rb-navbar-toggle span:before, .rb-navbar-toggle span {
  width: 24px;
  height: 4px;
  background-color: #fff;
  backface-visibility: hidden;
  border-radius: 2px;
}
.rb-navbar-toggle span {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rb-navbar-toggle span:before, .rb-navbar-toggle span:after {
  -webkit-transform-origin: 1.71429px center;
  transform-origin: 1.71429px center;
  -webkit-transform-origin: 1.71429px center;
  transform-origin: 1.71429px center;
}
.rb-navbar-toggle.active span {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.rb-navbar-toggle.active span:before, .rb-navbar-toggle.active span:after {
  top: 0;
  width: 15px;
}
.rb-navbar-toggle.active span:before {
  -webkit-transform: rotate3d(0, 0, 1, -40deg);
  transform: rotate3d(0, 0, 1, -40deg);
}
.rb-navbar-toggle.active span:after {
  -webkit-transform: rotate3d(0, 0, 1, 40deg);
  transform: rotate3d(0, 0, 1, 40deg);
}

.rb-navbar-brand {
  text-align: center;
  margin-top: 10px;
}
.rb-navbar-brand .brand_name {
  color: #fff;
  font-size: 25px;
  line-height: 35px;
  font-weight: 700;
}
.rb-navbar-brand .rb-navbar-collapse-toggle {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  line-height: 48px;
  cursor: pointer;
  color: #fff;
  display: none;
}
.rb-navbar-brand .rb-navbar-collapse-toggle span {
  top: 50%;
  margin-top: -3px;
}
.rb-navbar-brand .rb-navbar-collapse-toggle span, .rb-navbar-brand .rb-navbar-collapse-toggle span:before, .rb-navbar-brand .rb-navbar-collapse-toggle span:after {
  position: absolute;
  width: 6px;
  height: 6px;
  line-height: 6px;
  text-align: center;
  background: #fff;
  left: 50%;
  margin-left: -3px;
  border-radius: 50%;
  transition: .3s all ease;
}
.rb-navbar-brand .rb-navbar-collapse-toggle span:before, .rb-navbar-brand .rb-navbar-collapse-toggle span:after {
  content: '';
}
.rb-navbar-brand .rb-navbar-collapse-toggle span:before {
  bottom: 100%;
  margin-bottom: 3px;
}
.rb-navbar-brand .rb-navbar-collapse-toggle span:after {
  top: 100%;
  margin-top: 3px;
}
.rb-navbar-brand .rb-navbar-collapse-toggle.active span {
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}
.rb-navbar-brand .rb-navbar-collapse-toggle.active span:before {
  -webkit-transform: translateY(18px);
  transform: translateY(18px);
}
.rb-navbar-brand .rb-navbar-collapse-toggle.active span:after {
  -webkit-transform: translateY(-18px);
  transform: translateY(-18px);
}

.rb-navbar-nav {
  font: 700 18px/20px "Merriweather", serif;
  color: #fff;
  text-transform: none;
}

.rb-navbar-dropdown {
  display: none;
}

.rb-navbar--has-sidebar body {
  padding-left: 270px;
}

.rb-navbar--is-stuck {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.12), 3px 4px 8px 0px rgba(0, 0, 0, 0.11);
}

.rb-navbar.rb-navbar-fixed + .rb-navbar.rb-navbar--is-clone,
.rb-navbar.rb-navbar-sidebar + .rb-navbar.rb-navbar--is-clone {
  display: none;
}

.rb-navbar.rb-navbar--is-stuck.rb-navbar--loading {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

/*
* @subsection   Hybrid  Styles
*/
.rb-navbar-static, .rb-navbar-sidebar, .rb-navbar-fullwidth {
  position: relative;
  z-index: 10;
}

.rb-navbar-static:after, .rb-navbar-fullwidth:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.rb-navbar-static .rb-navbar-brand, .rb-navbar-static .rb-navbar-nav > li > a, .rb-navbar-static .rb-navbar-search-toggle, .rb-navbar-fullwidth .rb-navbar-brand, .rb-navbar-fullwidth .rb-navbar-nav > li > a, .rb-navbar-fullwidth .rb-navbar-search-toggle {
  position: relative;
  z-index: 2;
}
.rb-navbar-static .rb-navbar-nav > li > a, .rb-navbar-fullwidth .rb-navbar-nav > li > a {
  display: block;
  padding: 16px 32px;
  font-size: 18px;
  line-height: 20px;
  border: 1px solid transparent;
}
.rb-navbar-static .rb-navbar-nav > li.focus > a, .rb-navbar-static .rb-navbar-nav > li > a:hover, .rb-navbar-static .rb-navbar-nav > li.active > a, .rb-navbar-fullwidth .rb-navbar-nav > li.focus > a, .rb-navbar-fullwidth .rb-navbar-nav > li > a:hover, .rb-navbar-fullwidth .rb-navbar-nav > li.active > a {
  border: 1px solid #fff;
}
.rb-navbar-static .rb-navbar-nav > li + li, .rb-navbar-fullwidth .rb-navbar-nav > li + li {
  padding-left: 20px;
}
.rb-navbar-static .rb-navbar-nav > .rb-navbar-submenu li, .rb-navbar-fullwidth .rb-navbar-nav > .rb-navbar-submenu li {
  font-size: 18px;
  line-height: 20px;
}
.rb-navbar-static .rb-navbar-nav > .rb-navbar-submenu > .rb-navbar-dropdown, .rb-navbar-static .rb-navbar-nav > .rb-navbar-submenu > .rb-navbar-megamenu, .rb-navbar-fullwidth .rb-navbar-nav > .rb-navbar-submenu > .rb-navbar-dropdown, .rb-navbar-fullwidth .rb-navbar-nav > .rb-navbar-submenu > .rb-navbar-megamenu {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
}
.rb-navbar-static .rb-navbar-nav > .rb-navbar-submenu.focus > .rb-navbar-dropdown, .rb-navbar-static .rb-navbar-nav > .rb-navbar-submenu.focus > .rb-navbar-megamenu, .rb-navbar-fullwidth .rb-navbar-nav > .rb-navbar-submenu.focus > .rb-navbar-dropdown, .rb-navbar-fullwidth .rb-navbar-nav > .rb-navbar-submenu.focus > .rb-navbar-megamenu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.rb-navbar-static .rb-navbar-nav > .rb-navbar-submenu .rb-navbar-submenu.focus > .rb-navbar-dropdown, .rb-navbar-fullwidth .rb-navbar-nav > .rb-navbar-submenu .rb-navbar-submenu.focus > .rb-navbar-dropdown {
  display: block;
}
.rb-navbar-static .rb-navbar-inner, .rb-navbar-fullwidth .rb-navbar-inner {
  position: relative;
  max-width: 1154px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.rb-navbar-static .rb-navbar-nav > li > .rb-navbar-dropdown, .rb-navbar-fullwidth .rb-navbar-nav > li > .rb-navbar-dropdown {
  display: block;
  position: absolute;
  text-align: left;
  margin-top: 20px;
  left: 102%;
  margin-left: -132.5px;
  width: 265px;
  background: #fff;
  color: #2d2d2d;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.12), 3px 4px 8px 0px rgba(0, 0, 0, 0.11);
  z-index: 5;
}
.rb-navbar-static .rb-navbar-dropdown, .rb-navbar-fullwidth .rb-navbar-dropdown {
  background: #fff;
  padding: 15px 0 50px;
}
.rb-navbar-static .rb-navbar-dropdown .rb-navbar-dropdown, .rb-navbar-fullwidth .rb-navbar-dropdown .rb-navbar-dropdown {
  padding: 0 0 0 30px;
}
.rb-navbar-static .rb-navbar-dropdown .rb-navbar-dropdown > li > a, .rb-navbar-fullwidth .rb-navbar-dropdown .rb-navbar-dropdown > li > a {
  color: #ccbc8b;
  text-transform: none;
}
.rb-navbar-static .rb-navbar-dropdown > li > a, .rb-navbar-fullwidth .rb-navbar-dropdown > li > a {
  display: block;
  padding: 8px 35px;
  color: #ccbc8b;
  background: transparent;
}
.rb-navbar-static .rb-navbar-dropdown > li > a:hover, .rb-navbar-fullwidth .rb-navbar-dropdown > li > a:hover {
  color: #2d2d2d;
  background: transparent;
}
.rb-navbar-static .rb-navbar-dropdown > li.focus > a, .rb-navbar-fullwidth .rb-navbar-dropdown > li.focus > a {
  color: #2d2d2d;
  background: transparent;
}
.rb-navbar-static .rb-navbar-megamenu, .rb-navbar-fullwidth .rb-navbar-megamenu {
  display: block;
  position: absolute;
  text-align: left;
  left: 37px;
  width: 94%;
  margin-top: 20px;
  max-width: 1124px;
  background: #fff;
  z-index: 4;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.12), 3px 4px 8px 0px rgba(0, 0, 0, 0.11);
}
.rb-navbar-static .rb-navbar-megamenu > li, .rb-navbar-fullwidth .rb-navbar-megamenu > li {
  display: inline-block;
}
.rb-navbar-static .rb-navbar-megamenu > li:nth-child(1), .rb-navbar-fullwidth .rb-navbar-megamenu > li:nth-child(1) {
  width: 34%;
}
.rb-navbar-static .rb-navbar-megamenu > li > p, .rb-navbar-fullwidth .rb-navbar-megamenu > li > p {
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  color: #fff;
}
@media (min-width: 992px) {
  .rb-navbar-static .rb-navbar-megamenu > li > p, .rb-navbar-fullwidth .rb-navbar-megamenu > li > p {
    font-size: 18px;
  }
}
.rb-navbar-static .rb-navbar-megamenu > li > h5, .rb-navbar-fullwidth .rb-navbar-megamenu > li > h5 {
  color: #2d2d2d;
}
.rb-navbar-static .rb-navbar-megamenu > li .contact-info, .rb-navbar-fullwidth .rb-navbar-megamenu > li .contact-info {
  margin-top: 25px;
  color: #ccbc8b;
  font-size: 20px;
  line-height: 1.5;
}
@media (min-width: 1200px) {
  .rb-navbar-static .rb-navbar-megamenu > li .contact-info, .rb-navbar-fullwidth .rb-navbar-megamenu > li .contact-info {
    font-size: 24px;
  }
}
.rb-navbar-static .rb-navbar-megamenu > li .contact-info a[href^="callto:"], .rb-navbar-fullwidth .rb-navbar-megamenu > li .contact-info a[href^="callto:"] {
  color: #ccbc8b;
}
.rb-navbar-static .rb-navbar-megamenu > li .contact-info a[href^="callto:"]:hover, .rb-navbar-fullwidth .rb-navbar-megamenu > li .contact-info a[href^="callto:"]:hover {
  color: #fff;
}
.rb-navbar-static .rb-navbar-megamenu li:nth-child(1), .rb-navbar-fullwidth .rb-navbar-megamenu li:nth-child(1) {
  width: 34%;
}
.rb-navbar-static .rb-navbar-megamenu .banner, .rb-navbar-fullwidth .rb-navbar-megamenu .banner {
  display: block;
  margin: 5% auto 0;
  text-align: center;
  font-size: 24px;
}
.rb-navbar-static .rb-navbar-megamenu * + .marked-list, .rb-navbar-fullwidth .rb-navbar-megamenu * + .marked-list {
  margin-top: 25px;
}
.rb-navbar-static .rb-navbar-megamenu .marked-list + .marked-list, .rb-navbar-fullwidth .rb-navbar-megamenu .marked-list + .marked-list {
  margin-left: 10px;
}
@media (min-width: 1200px) {
  .rb-navbar-static .rb-navbar-megamenu .marked-list + .marked-list, .rb-navbar-fullwidth .rb-navbar-megamenu .marked-list + .marked-list {
    margin-left: 25px;
  }
}
.rb-navbar-static .rb-navbar-megamenu .marked-list, .rb-navbar-fullwidth .rb-navbar-megamenu .marked-list {
  display: inline-block;
}
.rb-navbar-static .rb-navbar-megamenu .marked-list li + li, .rb-navbar-fullwidth .rb-navbar-megamenu .marked-list li + li {
  margin-top: 10px;
}
@media (min-width: 1200px) {
  .rb-navbar-static .rb-navbar-megamenu .marked-list li + li, .rb-navbar-fullwidth .rb-navbar-megamenu .marked-list li + li {
    margin-top: 18px;
  }
}
.rb-navbar-static .rb-navbar-megamenu .marked-list li, .rb-navbar-fullwidth .rb-navbar-megamenu .marked-list li {
  position: relative;
  width: 100%;
  color: #9c9c9c;
  text-align: left;
  font-size: 12px;
  padding-left: 15px;
}
.rb-navbar-static .rb-navbar-megamenu .marked-list li:before, .rb-navbar-fullwidth .rb-navbar-megamenu .marked-list li:before {
  content: '\f0a9';
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 400;
  font-size: 1em;
  color: #ccbc8b;
  font-family: "FontAwesome";
}
@media (min-width: 992px) {
  .rb-navbar-static .rb-navbar-megamenu .marked-list li, .rb-navbar-fullwidth .rb-navbar-megamenu .marked-list li {
    font-size: 15px;
    padding-left: 20px;
  }
}
.rb-navbar-static .rb-navbar-megamenu .marked-list li a, .rb-navbar-fullwidth .rb-navbar-megamenu .marked-list li a {
  display: inline-block;
  color: #9c9c9c;
  background: transparent;
}
.rb-navbar-static .rb-navbar-megamenu .marked-list li a:hover, .rb-navbar-fullwidth .rb-navbar-megamenu .marked-list li a:hover {
  color: #ccbc8b;
  background: transparent;
}
.rb-navbar-static.rb-navbar--is-clone, .rb-navbar-fullwidth.rb-navbar--is-clone {
  display: none;
  -webkit-transform: translateY(-110%);
  transform: translateY(-110%);
}
.rb-navbar-static.rb-navbar--is-clone.rb-navbar--is-stuck, .rb-navbar-fullwidth.rb-navbar--is-clone.rb-navbar--is-stuck {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.rb-navbar-static.rb-navbar--is-stuck, .rb-navbar-static.rb-navbar--is-clone, .rb-navbar-fullwidth.rb-navbar--is-stuck, .rb-navbar-fullwidth.rb-navbar--is-clone {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
  background: #292828;
  padding: 10px 0;
}
.rb-navbar-static.rb-navbar--is-stuck .rb-navbar-panel, .rb-navbar-static.rb-navbar--is-clone .rb-navbar-panel, .rb-navbar-fullwidth.rb-navbar--is-stuck .rb-navbar-panel, .rb-navbar-fullwidth.rb-navbar--is-clone .rb-navbar-panel {
  display: table-cell;
}
.rb-navbar-static.rb-navbar--is-stuck .rb-navbar-collapse, .rb-navbar-static.rb-navbar--is-clone .rb-navbar-collapse, .rb-navbar-fullwidth.rb-navbar--is-stuck .rb-navbar-collapse, .rb-navbar-fullwidth.rb-navbar--is-clone .rb-navbar-collapse {
  display: none;
}
.rb-navbar-static.rb-navbar--is-stuck .rb-navbar-nav > li > a, .rb-navbar-static.rb-navbar--is-clone .rb-navbar-nav > li > a, .rb-navbar-fullwidth.rb-navbar--is-stuck .rb-navbar-nav > li > a, .rb-navbar-fullwidth.rb-navbar--is-clone .rb-navbar-nav > li > a {
  padding: 16px 16px;
}
@media (min-width: 992px) {
  .rb-navbar-static.rb-navbar--is-stuck .rb-navbar-nav > li > a, .rb-navbar-static.rb-navbar--is-clone .rb-navbar-nav > li > a, .rb-navbar-fullwidth.rb-navbar--is-stuck .rb-navbar-nav > li > a, .rb-navbar-fullwidth.rb-navbar--is-clone .rb-navbar-nav > li > a {
    padding: 16px 35px;
  }
}
.rb-navbar-static .rb-navbar--has-dropdown, .rb-navbar-fullwidth .rb-navbar--has-dropdown {
  position: relative;
}
.rb-navbar-static.rb-navbar--is-clone, .rb-navbar-fullwidth.rb-navbar--is-clone {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.rb-navbar-fixed .rb-navbar-collapse-toggle, .rb-navbar-sidebar .rb-navbar-collapse-toggle {
  display: inline-block;
  z-index: 1;
}
.rb-navbar-fixed .rb-navbar-dropdown, .rb-navbar-sidebar .rb-navbar-dropdown {
  display: block;
}
.rb-navbar-fixed .rb-navbar-collapse-items, .rb-navbar-sidebar .rb-navbar-collapse-items {
  position: absolute;
  width: 260px;
  padding: 25px 15px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.12), 3px 4px 8px 0px rgba(0, 0, 0, 0.11);
  color: #fff;
  background: transparent;
  font-size: 16px;
  line-height: 34px;
}
.rb-navbar-fixed .rb-navbar-collapse-items li > *, .rb-navbar-sidebar .rb-navbar-collapse-items li > * {
  vertical-align: middle;
}
.rb-navbar-fixed .rb-navbar-collapse-items li + li, .rb-navbar-sidebar .rb-navbar-collapse-items li + li {
  margin-top: 10px;
}
.rb-navbar-fixed .rb-navbar-collapse-items .icon, .rb-navbar-fixed .rb-navbar-collapse-items a, .rb-navbar-sidebar .rb-navbar-collapse-items .icon, .rb-navbar-sidebar .rb-navbar-collapse-items a {
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
}
.rb-navbar-fixed .rb-navbar-collapse-items .icon, .rb-navbar-fixed .rb-navbar-collapse-items a[class*="fa"]:before, .rb-navbar-sidebar .rb-navbar-collapse-items .icon, .rb-navbar-sidebar .rb-navbar-collapse-items a[class*="fa"]:before {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding-right: 5px;
}

.rb-navbar-fixed .rb-navbar-nav,
.rb-navbar-sidebar {
  position: fixed;
  width: 270px;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  font-size: 16px;
  line-height: 34px;
  color: #fff;
  background: transparent;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.12), 3px 4px 8px 0px rgba(0, 0, 0, 0.11);
  z-index: 998;
  padding: 10px 4px;
}
.rb-navbar-fixed .rb-navbar-nav:before, .rb-navbar-fixed .rb-navbar-nav:after,
.rb-navbar-sidebar:before,
.rb-navbar-sidebar:after {
  content: '';
  display: block;
  height: 56px;
}
.rb-navbar-fixed .rb-navbar-nav::-webkit-scrollbar,
.rb-navbar-sidebar::-webkit-scrollbar {
  width: 4px;
}
.rb-navbar-fixed .rb-navbar-nav::-webkit-scrollbar-thumb,
.rb-navbar-sidebar::-webkit-scrollbar-thumb {
  background: rgba(26, 26, 26, 0);
  border: none;
  border-radius: 0;
  opacity: .2;
}
.rb-navbar-fixed .rb-navbar-nav::-webkit-scrollbar-track,
.rb-navbar-sidebar::-webkit-scrollbar-track {
  background: transparent;
  border: none;
  border-radius: 0;
}

.rb-navbar-fixed .rb-navbar-nav p,
.rb-navbar-sidebar .rb-navbar-nav p {
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.rb-navbar-fixed .rb-navbar-nav p > a,
.rb-navbar-sidebar .rb-navbar-nav p > a {
  display: block;
  color: #2d2d2d;
  font-weight: 400;
}
.rb-navbar-fixed .rb-navbar-nav p > a:hover,
.rb-navbar-sidebar .rb-navbar-nav p > a:hover {
  color: #fff;
  text-decoration: none;
}
.rb-navbar-fixed .rb-navbar-nav h5,
.rb-navbar-sidebar .rb-navbar-nav h5 {
  text-align: center;
}
.rb-navbar-fixed .rb-navbar-nav .contact-info,
.rb-navbar-sidebar .rb-navbar-nav .contact-info {
  margin-top: 25px;
  color: #ccbc8b;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}
.rb-navbar-fixed .rb-navbar-nav .contact-info a[href^="callto:"],
.rb-navbar-sidebar .rb-navbar-nav .contact-info a[href^="callto:"] {
  color: #ccbc8b;
}
.rb-navbar-fixed .rb-navbar-nav .contact-info a[href^="callto:"]:hover,
.rb-navbar-sidebar .rb-navbar-nav .contact-info a[href^="callto:"]:hover {
  color: #fff;
}
.rb-navbar-fixed .rb-navbar-nav .marked-list,
.rb-navbar-sidebar .rb-navbar-nav .marked-list {
  display: inline-block;
}
.rb-navbar-fixed .rb-navbar-nav .marked-list li,
.rb-navbar-sidebar .rb-navbar-nav .marked-list li {
  display: block;
  font-size: 15px;
  padding-left: 0;
}
.rb-navbar-fixed .rb-navbar-nav .marked-list li:before,
.rb-navbar-sidebar .rb-navbar-nav .marked-list li:before {
  content: '';
}
.rb-navbar-fixed .rb-navbar-nav .marked-list li a,
.rb-navbar-sidebar .rb-navbar-nav .marked-list li a {
  color: #ccbc8b;
}
.rb-navbar-fixed .rb-navbar-nav .marked-list li a:hover,
.rb-navbar-sidebar .rb-navbar-nav .marked-list li a:hover {
  color: #fff;
}
.rb-navbar-fixed .rb-navbar-nav li,
.rb-navbar-sidebar .rb-navbar-nav li {
  position: relative;
  text-align: left;
}
.rb-navbar-fixed .rb-navbar-nav li > a,
.rb-navbar-sidebar .rb-navbar-nav li > a {
  position: relative;
  display: block;
  padding: 15px 35px 15px 15px;
}
.rb-navbar-fixed .rb-navbar-nav li > a:first-letter,
.rb-navbar-sidebar .rb-navbar-nav li > a:first-letter {
  text-transform: uppercase;
}
.rb-navbar-fixed .rb-navbar-nav li.active > a,
.rb-navbar-sidebar .rb-navbar-nav li.active > a {
  color: #fff;
  background: transparent;
}
.rb-navbar-fixed .rb-navbar-nav li.focus > a, .rb-navbar-fixed .rb-navbar-nav li > a:hover,
.rb-navbar-sidebar .rb-navbar-nav li.focus > a,
.rb-navbar-sidebar .rb-navbar-nav li > a:hover {
  color: #FFF;
  background: #ccbc8b;
}
.rb-navbar-fixed .rb-navbar-nav li + li, .rb-navbar-fixed .rb-navbar-nav li > img + a, .rb-navbar-fixed .rb-navbar-nav li > a + a, .rb-navbar-fixed .rb-navbar-nav li > a + ul,
.rb-navbar-sidebar .rb-navbar-nav li + li,
.rb-navbar-sidebar .rb-navbar-nav li > img + a,
.rb-navbar-sidebar .rb-navbar-nav li > a + a,
.rb-navbar-sidebar .rb-navbar-nav li > a + ul {
  margin-top: 4px;
}
.rb-navbar-fixed .rb-navbar-nav .rb-navbar-dropdown > li > a,
.rb-navbar-sidebar .rb-navbar-nav .rb-navbar-dropdown > li > a {
  padding-left: 20px;
}
.rb-navbar-fixed .rb-navbar-nav .rb-navbar-dropdown ul > li > a,
.rb-navbar-sidebar .rb-navbar-nav .rb-navbar-dropdown ul > li > a {
  padding-left: 25px;
}

.rb-navbar-fixed .rb-navbar-search-form-submit, .rb-navbar-sidebar .rb-navbar-search-form-submit {
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}

/*
* Static Layout
*/
.rb-navbar-static {
  display: block;
}
.rb-navbar-static .rb-navbar-panel, .rb-navbar-static .rb-navbar-nav-wrap {
  display: table-cell;
  vertical-align: middle;
}
.rb-navbar-static .rb-navbar-panel {
  display: none;
}
.rb-navbar-static .rb-navbar-nav-wrap {
  width: 100%;
  text-align: center;
  display: block;
}
.rb-navbar-static .rb-navbar-nav {
  margin-left: -2px;
}
.rb-navbar-static .rb-navbar-nav > li {
  display: inline-block;
  margin-left: 2px;
}
.rb-navbar-static .rb-navbar-static--visible {
  display: block;
}
.rb-navbar-static .rb-navbar-static--hidden {
  display: none;
}

/*
* Fullwidth Layout
*/
.rb-navbar-fullwidth {
  display: block;
}
.rb-navbar-fullwidth .rb-navbar-panel {
  display: none;
}
.rb-navbar-fullwidth .rb-navbar-nav-wrap {
  position: relative;
}
.rb-navbar-fullwidth .rb-navbar-nav-wrap .rb-navbar-megamenu {
  left: 0;
  right: 0;
}
.rb-navbar-fullwidth .rb-navbar-search-toggle {
  right: 0;
}
.rb-navbar-fullwidth .rb-navbar-nav {
  width: 100%;
  display: table;
  table-layout: fixed;
}
.rb-navbar-fullwidth .rb-navbar-nav > li {
  display: table-cell;
}
.rb-navbar-fullwidth .rb-navbar-nav > li > a {
  display: block;
  text-align: center;
  padding: 20px;
}
.rb-navbar-fullwidth.rb-navbar--is-stuck {
  -webkit-transform: translateY(-120px);
  transform: translateY(-120px);
}
.rb-navbar-fullwidth.rb-navbar--is-stuck .rb-navbar-panel {
  display: none;
}
.rb-navbar-fullwidth .rb-navbar-fullwidth--visible {
  display: block;
}
.rb-navbar-fullwidth .rb-navbar-fullwidth--hidden {
  display: none;
}

/*
* Fixed Layout
*/
html.rb-navbar-fixed-linked body {
  padding-top: 56px;
}

.rb-navbar-fixed {
  display: block;
}
.rb-navbar-fixed .rb-navbar-brand {
  position: relative;
  display: inline-block;
  padding-left: 4px;
  width: calc(100% - 104px);
}
.rb-navbar-fixed .rb-navbar-brand .brand-name {
  display: inline-block;
  font-size: 20px;
  line-height: 48px;
}
.rb-navbar-fixed .rb-navbar-brand .brand-slogan {
  display: none;
}
.rb-navbar-fixed .rb-navbar-panel {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 4px;
  height: 56px;
  color: #fff;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.12), 3px 4px 8px 0px rgba(0, 0, 0, 0.11);
  z-index: 999;
}
.rb-navbar-fixed .rb-navbar-panel:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #292828;
}
.rb-navbar-fixed .rb-navbar-toggle {
  display: inline-block;
}
.rb-navbar-fixed .rb-navbar-collapse {
  right: 4px;
  z-index: 1000;
}
.rb-navbar-fixed .rb-navbar-collapse-items {
  top: 100%;
  right: 0;
  margin-top: 8px;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
}
.rb-navbar-fixed .rb-navbar-collapse.active .rb-navbar-collapse-items {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.rb-navbar-fixed .rb-navbar-search-form, .rb-navbar-fixed .rb-navbar-search-toggle {
  right: 4px;
}
.rb-navbar-fixed .rb-navbar-search-form, .rb-navbar-fixed .rb-navbar-search .rb-navbar-live-search-results {
  position: fixed;
  margin-right: 0;
  margin-left: auto;
}
.rb-navbar-fixed .rb-navbar-search .rb-navbar-live-search-results {
  top: 56px;
}
.rb-navbar-fixed .rb-navbar-search-form {
  top: 0;
  left: 56px;
  height: 56px;
  z-index: 1000;
}
.rb-navbar-fixed .rb-navbar-search-form-input {
  padding: 8px 0;
  visibility: hidden;
  opacity: 0;
  height: 56px;
  background: transparent;
  transition: .3s all ease;
  z-index: 1;
}
.rb-navbar-fixed .rb-navbar-search-form-input input {
  display: block;
  width: 100%;
  padding: 0 48px 0 20px;
  height: 40px;
  font-size: 16px;
  line-height: 34px;
  color: #fff;
  background: transparent;
}
.rb-navbar-fixed .rb-navbar-search-form-submit {
  position: absolute;
  top: 4px;
  right: 0;
  opacity: 0;
  visibility: hidden;
}
.rb-navbar-fixed .rb-navbar-search-toggle.active {
  opacity: 0;
  visibility: hidden;
}
.rb-navbar-fixed .rb-navbar-search.active .rb-navbar-search-form-input,
.rb-navbar-fixed .rb-navbar-search.active .rb-navbar-search-form-submit {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 992px) {
  .rb-navbar-fixed .rb-navbar-search-form, .rb-navbar-fixed .rb-navbar-search .rb-navbar-live-search-results {
    max-width: 340px;
  }
  .rb-navbar-fixed .rb-navbar-search .rb-navbar-live-search-results {
    right: 4px;
  }
}
.rb-navbar-fixed .rb-navbar-nav {
  -webkit-transform: translateX(-270px);
  transform: translateX(-270px);
  background: #292828;
}
.rb-navbar-fixed .rb-navbar-nav li > a {
  line-height: 1.2;
  padding: 15px 35px 15px 15px;
}
.rb-navbar-fixed .rb-navbar-nav li:hover > a, .rb-navbar-fixed .rb-navbar-nav li:hover > a:hover, .rb-navbar-fixed .rb-navbar-nav li.focus > a, .rb-navbar-fixed .rb-navbar-nav li.focus > a:hover {
  color: #FFF;
  background: #ccbc8b;
}
.rb-navbar-fixed .rb-navbar-nav li:hover > .rb-navbar-submenu-toggle, .rb-navbar-fixed .rb-navbar-nav li.focus > .rb-navbar-submenu-toggle {
  color: #fff;
}
.rb-navbar-fixed .rb-navbar-nav li:hover > .rb-navbar-submenu-toggle:hover, .rb-navbar-fixed .rb-navbar-nav li.focus > .rb-navbar-submenu-toggle:hover {
  cursor: pointer;
  color: #fff;
}
.rb-navbar-fixed .rb-navbar-nav li .rb-navbar-dropdown,
.rb-navbar-fixed .rb-navbar-nav li .rb-navbar-megamenu {
  transition: opacity 0.3s, height 0.4s ease;
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.rb-navbar-fixed .rb-navbar-nav li .rb-navbar-dropdown .bg-image, .rb-navbar-fixed .rb-navbar-nav li .rb-navbar-dropdown .bg-image-md-primary, .rb-navbar-fixed .rb-navbar-nav li .rb-navbar-dropdown .bg-image-md-primary-2, .rb-navbar-fixed .rb-navbar-nav li .rb-navbar-dropdown .bg-image-md-primary-3, .rb-navbar-fixed .rb-navbar-nav li .rb-navbar-dropdown .bg-image-md-primary-4,
.rb-navbar-fixed .rb-navbar-nav li .rb-navbar-megamenu .bg-image,
.rb-navbar-fixed .rb-navbar-nav li .rb-navbar-megamenu .bg-image-md-primary,
.rb-navbar-fixed .rb-navbar-nav li .rb-navbar-megamenu .bg-image-md-primary-2,
.rb-navbar-fixed .rb-navbar-nav li .rb-navbar-megamenu .bg-image-md-primary-3,
.rb-navbar-fixed .rb-navbar-nav li .rb-navbar-megamenu .bg-image-md-primary-4 {
  display: none;
}
.rb-navbar-fixed .rb-navbar-nav li .rb-navbar-dropdown > li > ul > li > a,
.rb-navbar-fixed .rb-navbar-nav li .rb-navbar-megamenu > li > ul > li > a {
  line-height: 1.2;
  padding: 5px;
}
.rb-navbar-fixed .rb-navbar-nav li .rb-navbar-dropdown > li > h5,
.rb-navbar-fixed .rb-navbar-nav li .rb-navbar-megamenu > li > h5 {
  color: #fff;
}
.rb-navbar-fixed .rb-navbar-nav li .rb-navbar-dropdown .banner,
.rb-navbar-fixed .rb-navbar-nav li .rb-navbar-megamenu .banner {
  display: none;
}
.rb-navbar-fixed .rb-navbar-nav li.opened > .rb-navbar-dropdown,
.rb-navbar-fixed .rb-navbar-nav li.opened > .rb-navbar-megamenu {
  opacity: 1;
  height: auto;
}
.rb-navbar-fixed .rb-navbar-nav li.opened > a {
  background: #ccbc8b;
  color: #FFF;
}
.rb-navbar-fixed .rb-navbar-nav li.opened > .rb-navbar-submenu-toggle {
  color: #fff;
}
.rb-navbar-fixed .rb-navbar-nav li.opened > .rb-navbar-submenu-toggle::after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rb-navbar-fixed .rb-navbar-nav .vertical-line-variant-2:before {
  display: none;
}
.rb-navbar-fixed .rb-navbar-nav .postfix-1 {
  margin-right: 0;
}
.rb-navbar-fixed .rb-navbar-nav .inset-9 {
  padding: 15% 5%;
}
.rb-navbar-fixed .rb-navbar-nav .rb-navbar-submenu-toggle::after {
  content: '\f078';
  position: absolute;
  top: 25px;
  right: 0px;
  margin-top: -21px;
  width: 65px;
  height: 44px;
  font: 400 14px "FontAwesome";
  line-height: 42px;
  text-align: center;
  transition: 0.4s all ease;
  z-index: 2;
}
.rb-navbar-fixed .rb-navbar-collapse,
.rb-navbar-fixed .rb-navbar-search-toggle {
  position: fixed;
  top: 4px;
  height: 48px;
  z-index: 1000;
}
.rb-navbar-fixed.active .rb-navbar-nav {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
@media (max-width: 1199px) {
  .rb-navbar-fixed.rb-navbar--on-search .brand-name {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}
.rb-navbar-fixed.rb-navbar--is-clone {
  display: none;
}
.rb-navbar-fixed.rb-navbar--is-clone .rb-navbar-panel {
  -webkit-transform: translateY(-110%);
  transform: translateY(-110%);
}
.rb-navbar-fixed.rb-navbar--is-clone.rb-navbar--is-stuck .rb-navbar-panel {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.rb-navbar-fixed .rb-navbar-fixed--visible {
  display: block;
}
.rb-navbar-fixed .rb-navbar-fixed--hidden {
  display: none;
}

/*
* Sidebar Layout
*/
html.rb-navbar-sidebar-linked body {
  padding-left: 270px;
}

.rb-navbar-sidebar {
  display: block;
  background: #292828;
  text-align: left;
}
.rb-navbar-sidebar .rb-navbar-nav li:hover > a, .rb-navbar-sidebar .rb-navbar-nav li:hover > a:hover, .rb-navbar-sidebar .rb-navbar-nav li.focus > a, .rb-navbar-sidebar .rb-navbar-nav li.focus > a:hover {
  color: #FFF;
  background: #ccbc8b;
}
.rb-navbar-sidebar .rb-navbar-nav li:hover > .rb-navbar-submenu-toggle, .rb-navbar-sidebar .rb-navbar-nav li.focus > .rb-navbar-submenu-toggle {
  color: #fff;
}
.rb-navbar-sidebar .rb-navbar-nav li:hover > .rb-navbar-submenu-toggle:hover, .rb-navbar-sidebar .rb-navbar-nav li.focus > .rb-navbar-submenu-toggle:hover {
  cursor: pointer;
  color: #fff;
}
.rb-navbar-sidebar .rb-navbar-nav li .rb-navbar-dropdown,
.rb-navbar-sidebar .rb-navbar-nav li .rb-navbar-megamenu {
  transition: opacity 0.3s, height 0.4s ease;
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.rb-navbar-sidebar .rb-navbar-nav li .rb-navbar-megamenu > li * + .marked-list {
  margin-top: 10px;
  margin-bottom: 10px;
}
.rb-navbar-sidebar .rb-navbar-nav li .rb-navbar-megamenu > li > ul > li > a {
  line-height: 1.2;
  padding: 5px;
}
.rb-navbar-sidebar .rb-navbar-nav li .rb-navbar-megamenu > li > p {
  font: 700 15px/20px "Merriweather", serif;
}
.rb-navbar-sidebar .rb-navbar-nav li .rb-navbar-megamenu > li > h5 {
  text-align: center;
  color: #fff;
}
.rb-navbar-sidebar .rb-navbar-nav li.opened > .rb-navbar-dropdown,
.rb-navbar-sidebar .rb-navbar-nav li.opened > .rb-navbar-megamenu {
  opacity: 1;
  height: auto;
}
.rb-navbar-sidebar .rb-navbar-nav li.opened > a {
  background: #ccbc8b;
  color: #FFF;
}
.rb-navbar-sidebar .rb-navbar-nav li.opened > .rb-navbar-submenu-toggle {
  color: #fff;
}
.rb-navbar-sidebar .rb-navbar-nav li.opened > .rb-navbar-submenu-toggle::after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rb-navbar-sidebar .rb-navbar-nav li .vertical-line-variant-2:before {
  display: none;
}
.rb-navbar-sidebar .rb-navbar-nav li .postfix-1 {
  margin-right: 0;
}
.rb-navbar-sidebar .rb-navbar-nav li .inset-9 {
  padding: 15% 5%;
}
.rb-navbar-sidebar .rb-navbar-submenu-toggle::after {
  content: '\f078';
  position: absolute;
  top: 25px;
  right: 0px;
  margin-top: -21px;
  width: 65px;
  height: 44px;
  font: 400 14px "FontAwesome";
  line-height: 42px;
  text-align: center;
  transition: 0.4s all ease;
  z-index: 2;
}
.rb-navbar-sidebar .rb-navbar-brand {
  text-align: center;
  margin-bottom: 28px;
  padding: 10%;
}
.rb-navbar-sidebar .rb-navbar-brand .brand-name {
  font-size: 30px;
}
.rb-navbar-sidebar .rb-navbar-collapse-items {
  top: 0;
  left: 0;
  padding-top: 45px;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  opacity: 0;
  visibility: hidden;
}
.rb-navbar-sidebar .rb-navbar-collapse {
  position: absolute;
  top: 4px;
  left: 4px;
  display: inline-block;
  z-index: 1;
}
.rb-navbar-sidebar .rb-navbar-collapse.active .rb-navbar-collapse-items {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.rb-navbar-sidebar .rb-navbar-sidebar--visible {
  display: block;
}
.rb-navbar-sidebar .rb-navbar-sidebar--hidden {
  display: none;
}

/*
* @subsection   Page boxed layout style redeclaration
*
* @description  Redefines navbar style inside boxed layout
*
* @see          ../modules/_page-layouts.scss
*/
html.boxed.rb-navbar--has-sidebar body {
  padding-left: 300px;
  padding-right: 30px;
}
html.boxed .rb-navbar--is-clone {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
